@page "{id?}"

@model WebAppiFilm.Pages.SelectedFilmModel
@{
    ViewData["Title"] = Model.Name;
}

<form method="post">
    <div class = "text-center" id="filmId">
        <ol class="rounded">
            <p>Name: <input asp-for="Name"/></p>
            <p>Producer: <input asp-for="Producer" /></p>
            <p>Style: <input asp-for="Style"/> </p>
            <p>About: <input asp-for="AboutFilm" /></p>
            <p>Sessions: <input asp-for="Sessions"/></p>
            
           
           <input type="submit" name="submit" class="submit" value="Save" />
           <input type="submit" asp-page-handler="Delete" value="Delete"/>
        </ol>
    </div>
</form>
